@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0;
  /* background: #fde7dd; */
  background: #fcebe3;
  /* background: #fdf9e5; */
}
